### Module 2 Assignment: Salary Function 

    Loading Libraries to Manipulate the Datasets

In [1]:
# Importing Libraries

import pandas as pd
import numpy as np

### Step 1. Importing Data

In [2]:
# Step 1: Import Data using Pandas library

df = pd.read_csv(r"A:\Programming in Python and R\Module 2\salary\Total.csv")
df.head()

C:\Users\user\AppData\Local\Temp\ipykernel_10396\2580632428.py:3: DtypeWarning: Columns (2,3,4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r"A:\Programming in Python and R\Module 2\salary\Total.csv")

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
0,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,Not Provided,567595.43,567595.43,2011
1,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,Not Provided,538909.28,538909.28,2011
2,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,Not Provided,335279.91,335279.91,2011
3,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,Not Provided,332343.61,332343.61,2011
4,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,Not Provided,326373.19,326373.19,2011

### Step 2: Create Employee Function:
     
     Employee Function that accepts employee names and return thier details

In [3]:
# defining a function to search employees:

def get_employee_info(employee_name):

    # Checking if the employee name exists in the DataFrame (case-insensitive comparison)
    if employee_name.lower() in df['EmployeeName'].str.lower().values:
        # Retrieve information for the given employee
        employee_info = df[df['EmployeeName'].str.lower() == employee_name.lower()].iloc[0]
        return employee_info, True  # when Employee is found
    else:
        return None, False  # when Employee is not found

# Loop for searching employees
while True:
    employee_name_input = input("Enter employee name (or type 'exit' to end): ")

    if employee_name_input.lower() == 'exit':
        print("Thank you for searching employees in our records. Welcome!")
        break  # End the loop and code

    employee_details, found = get_employee_info(employee_name_input)

    if found:
        print(f"   ")
        print("\033[1;4mEmployee Information:\033[0m")
        # Print only the values without displaying the data type
        for key, value in employee_details.items():
            print(f"{key}: {value}")
    else:
        print(f"\nNo recod information found for {employee_name_input} in the database")

    # Prompt for searching another employee
    search_another = input("\nDo you want to search for another employee? (yes/no): ")

    if search_another.lower() == 'yes':
        continue  # Continue the loop

    elif search_another.lower() == 'no':
        print("Thank you for searching employees in our records. Welcome!")
        break  # End the loop and code

    else:
        print("Invalid entry, try again.")

No recod information found for peter in the database
Invalid entry, try again.

Employee Information:
EmployeeName: PATRICK GARDNER
JobTitle: DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)
BasePay: 134401.6
OvertimePay: 9737.0
OtherPay: 182234.59
Benefits: Not Provided
TotalPay: 326373.19
TotalPayBenefits: 326373.19
Year: 2011
Invalid entry, try again.

No recod information found for  in the database
Thank you for searching employees in our records. Welcome!

### Step 3: Data Processing with Dictionary and Error Handling:

In [4]:
# Calculating the average TotalPay per Year:

try:
    average_total_pay_per_year = df.groupby('Year')['TotalPay'].mean().reset_index()

    # Sort the DataFrame by 'TotalPay' in descending order
    average_total_pay_per_year = average_total_pay_per_year.sort_values(by='TotalPay', ascending=True).round(2)

    # Rename the 'TotalPay' column to 'AveragePay'
    average_total_pay_per_year = average_total_pay_per_year.rename(columns={'TotalPay': 'AveragePay'})

    # Print the result
    print("Average Total Pay per Year:")
    print(average_total_pay_per_year.to_string(index=False))

# Error handling
except Exception as e:
    print(f"An error occurred: {e}")

Average Total Pay per Year:
 Year  AveragePay
 2011    71744.10
 2012    74113.26
 2014    75471.84
 2015    77508.27
 2013    77611.44
 2016    80513.17
 2017    84234.65
 2018    87181.91

In [5]:
# Using Dictionary to perform analysis of Top 20 Job Titles and Their Total Pay:


try:
    # Defining Libraries to Count occurrences of each JobTitle and calculating the sum of TotalPay
    job_title_counts = {}
    total_pay_by_job_title = {}

    for _, row in df.iterrows():
        job_title = row['JobTitle']
        total_pay = row['TotalPay']

        job_title_counts[job_title] = job_title_counts.get(job_title, 0) + 1

        if job_title in total_pay_by_job_title:
            total_pay_by_job_title[job_title] += total_pay
        else:
            total_pay_by_job_title[job_title] = total_pay

    # Convert the dictionaries to DataFrames
    job_title_counts_df = pd.DataFrame(list(job_title_counts.items()), columns=['JobTitle', 'Counts'])
    total_pay_by_job_title_df = pd.DataFrame(list(total_pay_by_job_title.items()), columns=['JobTitle', 'TotalPay'])

    # Sort the job title counts DataFrame by 'Counts' in descending order
    job_title_counts_df = job_title_counts_df.sort_values(by='Counts', ascending=False)

    # Merge the DataFrames on 'JobTitle'
    result_df = pd.merge(job_title_counts_df, total_pay_by_job_title_df, on='JobTitle')

    # Filter the top 20 job titles
    top_20_result_df = result_df.head(20)

    # Convert 'TotalPay' to 2 decimal places 
    top_20_result_df.loc[:, 'TotalPay'] = top_20_result_df['TotalPay'].apply(lambda x: f'{x:.2f}')

    # Print the result
    print("Top 20 Job Title Counts and TotalPay (Descending Order):")
    print(top_20_result_df)

# eRROR hANDLNG
except Exception as e:
    print(f"An error occurred: {e}")

Top 20 Job Title Counts and TotalPay (Descending Order):
                        JobTitle  Counts       TotalPay
0               Transit Operator   17995  1191893912.75
1                  Special Nurse   10857   416472960.65
2               Registered Nurse    9249  1133034021.34
3                    Firefighter    5891   815476230.46
4                      Custodian    5759   293206312.54
5               Police Officer 3    5432   755496208.48
6         Public Service Trainee    4928    42933325.31
7   Public Svc Aide-Public Works    4811    40980383.80
8              Recreation Leader    4784    36095045.32
9                 Police Officer    4254   375877460.58
10        Patient Care Assistant    4154   226956367.10
11                Deputy Sheriff    4093   505109426.80
12              Police Officer 2    2781   387094637.17
13                    Sergeant 3    2760   476986019.13
14     Attorney (Civil/Criminal)    2707   395219149.59
15     HSA Sr Eligibility Worker    2649   178487472.88
16                        Porter    2594   125408240.65
17               General Laborer    2496   146454637.27
18     EMT/Paramedic/Firefighter    2470   322187417.75
19              TRANSIT OPERATOR    2388   147441415.61